body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grey {
	background: #EEE;
}

.col-width {
	width: 960px;
	margin: 0 auto;
}

.col-right {
	float: right;
}

.col-left {
	float: left;
}

.flfix {
	overflow: hidden;
}

.headline {
	color: #840303;
	font-size: 30px;
	font-family: 'Droid Sans', serif;
}

#header {
	border-top: 3px solid #840303;
	border-bottom: 3px solid #840303;
	padding: 20px 0;
}

#logo img {
	border: 0;
}

#logo a {
	outline: 0;
}

#navigation {
	padding: 13px 0;
	font-weight: bold;
}

.nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li {
	float: left;
	padding: 0 15px;
}

.nav a {
	color: #840303;
	text-decoration: none;
}

.nav a:hover, .current-page a {
	color: #000;
}

#upper {
	padding-top: 10px;
}

#upper-left {
	width: 300px;
	font-size: 14px;
	color: #000;
}

#upper-left p {
	line-height: 1.5em;
}

#upper-right {
	padding-top: 20px;
	width: 600px;
	height: 350px;
	background: url(../images/droid2.png)  no-repeat center center;
}

#upper-right img {
	margin: 46px 79px;
	display: none;
}

.signup_button {
	background: url(../images/big-button.png) no-repeat center center;
	width: 300px;
	height: 65px;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	font-weight: bold;
	color: #FFF;
	font-size: 24px;
	text-shadow: 0 1px 0 #2B0101;
	text-decoration: none;
	margin: 10px 0;
	padding: 0;
	outline: 0;
}

#android_only {
	font-weight: bold;
	text-align: center;
	color: #777;
}

#features {
	padding: 20px 0;
	color: #000;
}

#features ul {
	list-style: none;
	padding: 0;
}

#features li {
	width: 220px;
	float: left;
	margin-right: 20px;
	margin-left: 0px;
}

#features li .icon {
	float: left;
	height: 48px;
	width: 48px;
}

#features li .description {
	padding-left: 60px;
	font-size: 12px;
	line-height: 20px;
}

#footer {
	border-top: 1px solid #999;
	padding: 5px 0;
	margin-top: 15px;
	font-size: 11px;
}

/* Register */

.subtitle {
	margin: 0;
	margin: 20px 0;
	border-bottom: 1px solid #999;
	color: #840303;
}

#registration {
	margin: 20px 20px;
	font-size: 13px;
}

#registration a {
	text-decoration: none;
}

.required {
	font-weight: bold;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	margin: 0;
}

.check {
	margin: 10px 0;
	margin-left: 150px;
}

label {
	width: 150px;
}

.fancy_input {
	background: #FFF;
	width: 200px;
	margin-left: 10px;
	padding: 5px;
	border: 1px solid #999;
}

.detail {
	color: #777;
	font-size: 11px;
	margin: 0 0 10px 165px;
	font-style: italic;
}

.space {
	margin: 10px 0;
}

#submit {
	margin: 20px 210px;
	display: block;
	width: 100px;
	font-size: 18px;
	line-height: 50px;
}

a {
	text-decoration: none;
}

#errors {
	color: red;
	border: 1px solid #000;
	background: #FFFFCC;
}

/* Dashboard */
.clear {
    overflow: hidden;
    width: 100%;
}

.button-container {
	overflow: hidden;
	margin: 15px 0;
}

a.button {
    background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
	font-weight: bold;
}

a.button span {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button span img {
	vertical-align: bottom;
	margin-right: 5px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

#stats {
	padding-bottom: 20px;
}

#stats table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

#stats table th {
	color: #777;
	text-align: left;
	font-weight: normal;
	padding: 0 10px;
}

#stats table tr {
	border: 1px solid #BBB;
}

#stats table tr.header {
	border: 0;
}

#stats table td {
	font-size: 14px;
	padding: 15px 10px;
}

.row-even {
	background: #f0f6ff;
}