<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href={{ static_url("css/base.css") }}/>
		{% block head %}{% end %}
		<title>{% block title %}AppHorde{% end %}</title>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-19925373-4']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div id="header" class="grey">
			<div id="top" class="col-width flfix">
				<div id="logo" class="col-left">
					<a href="/"><img src={{ static_url("images/apphorde-medium.png") }}/></a>
				</div>
				<div id="navigation" class="col-right">
					<ul class="nav">
						{% block nav %}
						<li><a href="/">Home</a></li>
						<!--<li><a href="how">How It Works</a></li>
						<li><a href="dev">Dev Resources</a></li>
						<li><a href="register">Register</a></li>-->
						<li><a href="login">Log In</a></li>
						{% end %}
					</ul>
				</div>
			</div>
			{% block header %}
			{% end %}
		</div>
		{% block content %}
		{% end %}
		<div id="footer" class="col-width">
			&copy; 2011 AppHorde
		</div>
	</body>
</html>