{% extends "subpage.html" %}

{% block nav %}
<li class="current-page"><a href="dashboard">Dashboard</a></li>
<li><a href="dev">Dev Resources</a></li>
<li><a href="myaccount">My Account</a></li>
<li><a href="logout">Log Out</a></li>
{% end %}

{% block subtitle %}Dashboard{% end %}

{% block main %}
<div class="button-container">
	<a class="button" href="registerapp" onclick="this.blur();" id="add_app_button">
		<span><img src={{ static_url("images/icon_add.gif") }} />Add new app</span>
	</a>
</div>
<div id="stats">
	<table>
		<tr class="header">
			<th>App</th>
			<th>Impressions</th>
			<th>Clicks</th>
			<th>CTR</th>
		</tr>
		{% if not 'apps' in globals() %}
		<tr class="row-even">
			<td colspan=4 style="text-align: center;"><i>You have not yet added an app</i></td>
		</tr>
		{% else %}
			{% for i in range(apps.count()) %}
				{% if i%2 == 0 %}
		<tr class="row-even">
				{% else %}
		<tr class="row-odd">
				{% end %}
			<td>
				<div class="app-icon">
					<img src="{{ escape(apps[i]['icon_path'])}}" width="48" height="48"/>
				</div>
				<div class="app-desc">
					<div id="name">
						<a href="/editapp?id={{ escape(apps[i]['appId']) }}">
							{{ escape(apps[i]['name']) }}
						</a>
					</div>
					<div class="additional">ID: {{ escape(apps[i]['appId']) }}</div>
					<div class="additional">Package: {{ escape(apps[i]['package']) }}</div>
				</div>
			</td>
			<td>{{ int(apps[i]['impressions']) }}</td>
			<td>{{ int(apps[i]['clicks']) }}</td>
				{% if apps[i]['impressions'] == 0 %}
			<td>N/A</td>
				{% else %}
			<td>{{ "%.3f" % (100*float(apps[i]['clicks'])/apps[i]['impressions']) }}%</td>
				{% end %}
		</tr>
			{% end %}
		{% end %}
	</table>
</div>
{% end %}