<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<!--[if !IE 7]>
			<style type="text/css">
				#wrap {display:table;height:100%}
			</style>
		<![endif]-->
		<script type="text/javascript" src="jquery.cycle.lite.1.0.min.js"></script>
		<title>AppHorde</title>
	</head>
	<body>
		<div id="header">
			<div id="top" class="col-width flfix">
				<div id="logo" class="col-left">
					<a href="index.html"><img src="images/apphorde-medium.png"/></a>
				</div>
				<div id="navigation" class="col-right">
					<ul class="nav">
						<li class="current-page"><a href="index.html">Home</a></li>
						<li><a href="#">How it works</a></li>
						<li><a href="#">Dev Resources</a></li>
						<li><a href="#">Sign in</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="upper">
			<div class="col-width flfix">
				<div id="upper-left" class="col-left">
					<h2 class="headline">The easiest way to market your app</h2>
					<p>Join today and advertise your app across our entire network for free! AppHorde is not your traditional ad network and we will never charge you advertising fees. Instead, we rely on all of our partners to give back by agreeing to display advertisements on their own app. The more ads displayed by your app, the more your app is advertised across our network. So what are you waiting for? Join the Horde!</p>
					
					<a class="signup_button" href="#">Get Started</a>
					<div id="android_only">
						Currently limited to Android
					</div>
				</div>
				<div id="upper-right" class="col-right">
					<img src="images/slide-test.png"/>
				</div>
			</div>
		</div>
		<div id="features" class="flfix col-width">
			<ul>
				<li>
					<div class="icon">
						<img src="images/megaphone_48.png"/>
					</div>
					<div class="description">
						Give your app the exposure it deserves by advertising across the AdHorde network. Just sit back and watch the downloads skyrocket.
					</div>
				</li>
				<li>
					<div class="icon">
						<img src="images/check_48.png"/>
					</div>
					<div class="description">
						Thanks to our super-simple library, integrating AppHorde into your app takes less than 10 minutes. Start earning ad placements in no time! 
					</div>
				</li>
				<li>
					<div class="icon">
						<img src="images/money_48.png"/>
					</div>
					<div class="description">
						Advertising your app on most ad networks could cost hundreds, or even thousands of dollars. AppHorde is always completely free.
					</div>
				</li>
				<li>
					<div class="icon">
						<img src="images/graph_48.png"/>
					</div>
					<div class="description">
						Access realtime statistics via the AppHorde Dashboard. You'll be able to see for yourself how well your ads are performing.
					</div>
				</li>
			</ul>
		</div>
		<div id="footer" class="col-width">
			&copy; 2011 AppHorde
		</div>
	</body>
</html>