{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href={{ static_url("css/teaser.css") }}/>
<script type="text/javascript" src={{ static_url("js/jquery-1.5.min.js") }}></script>
<script type="text/javascript" src={{ static_url("js/jquery.placeholder.min.js") }}></script>
<script type="text/javascript" src={{ static_url("js/landing.js") }}></script>
{% end %}

{% block nav %}
<!--<li><a href="how">How It Works</a></li>
<li><a href="dev">Dev Resources</a></li>-->
<li><a href="register">Have an invite?</a></li>
<li><a href="login">Log in</a></li>
{% end %}

{% block header %}
<div id="upper" class="grey">
	<div class="col-width flfix">
		<div id="upper-left" class="col-left">
			<h2 class="headline">The <i><u>best</u></i> way to market your app</h2>
			<p class="why_join">Advertise your mobile apps across the AppHorde network. You display ads for other apps and, in exchange, more of your own ads are displayed. Get exposure. Increase installs. Make your app successful. All for free.</p>
			<div id="signup">
				<i>Interested? Get on the beta list!</i>
				{% if error %}
				<div style="color:red;">
					Please supply a valid email to sign up.
				</div>
				{% end %}
				<form method="post" action="/thanks" id="beta_signup">
					<input class="fancy_input" type="text" id="email" name="email" placeholder="Email"/>
					{% if ref %}
					<input type="hidden" name="ref" value={{ escape(ref) }} />
					{% end %}
					{% raw xsrf_form_html() %}
					<a id="signup_submit" class="go_button">Go</a>
				</form>
			</div>
		</div>
		<div id="upper-right" class="col-right">
			<img src={{ static_url("images/apphorde-homev2.png") }}/>
		</div>
	</div>
</div>
{% end %}

{% block content %}
<div id="features" class="flfix col-width">
	<ul>
		<li>
			<div class="icon">
				<img src={{ static_url("images/megaphone_48.png") }}/>
			</div>
			<div class="description">
				<div class="desc-title">
					Get Exposure
				</div>
				Advertise your app across the AppHorde network and watch your installs skyrocket.
			</div>
		</li>
		<li>
			<div class="icon">
				<img src={{ static_url("images/check_48.png") }}/>
			</div>
			<div class="description">
				<div class="desc-title">
					Easy Setup
				</div>
				Integrate AppHorde into your app in less than 10 minutes. Start earning ad placements in no time!
			</div>
		</li>
		<li>
			<div class="icon">
				<img src={{ static_url("images/money_48.png") }}/>
			</div>
			<div class="description">
				<div class="desc-title">
					100% Free
				</div>
				Other ad networks charge hundreds or even thousands of dollars. AppHorde is completely free!
			</div>
		</li>
		<li>
			<div class="icon">
				<img src={{ static_url("images/graph_48.png") }}/>
			</div>
			<div class="description">
				<div class="desc-title">
					Real-time Statistics
				</div>
				Access statistics via the AppHorde Dashboard. You'll be able to see for yourself how well your ads are performing.
			</div>
		</li>
	</ul>
</div>
{% end %}
