{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href={{ static_url("css/teaser.css") }}/>
<script type="text/javascript" src={{ static_url("js/jquery-1.5.min.js") }}></script>
<script type="text/javascript" src={{ static_url("js/jquery.placeholder.min.js") }}></script>
<script type="text/javascript" src={{ static_url("js/landing.js") }}></script>
{% end %}

{% block nav %}
<li class="current-page"><a href="/">Home</a></li>
<!--<li><a href="how">How It Works</a></li>
<li><a href="dev">Dev Resources</a></li>
<li><a href="register">Register</a></li>-->
<li><a href="login">Log In</a></li>
{% end %}

{% block header %}
<div id="upper" class="grey">
	<div class="col-width flfix">
		<div id="upper-left" class="col-left">
			<h2 class="headline">The <i><u>best</u></i> way to market your app</h2>
			<p class="why_join"><!--Join today and advertise your apps across our entire network for free! AppHorde is not your traditional ad network and we will never charge you advertising fees. Instead, we rely on all of our partners to give back by agreeing to display advertisements on their own app. The more ads displayed by your app, the more your app is advertised across our network. Marketing mobile apps is now a problem of the past thanks to AppHorde. We enable you to advertise your apps to thousands of potential users completely for free. Our system enables developers to advertise on eachother's apps in an easy and fair way. Marketing has never been this easy!-->Advertise your mobile apps across the AppHorde network. You display ads for other apps and, in exchange, more of your own ads are displayed. Get exposure. Increase installs. Make your app successful. All for free.</p>
			<!--<a class="signup_button" href="#">Get Started</a>-->
			<div id="signup">
				<i>Sign up for our private beta</i>
				{% if error %}
				<div style="color:red;">
					Please supply a valid email to sign up.
				</div>
				{% end %}
				<form method="post" action="/thanks" id="beta_signup">
					<input class="fancy_input" type="text" id="email" name="email" placeholder="Email"/>
					{% if ref %}
					<input type="hidden" name="ref" value={{ escape(ref) }} />
					{% end %}
					{{ xsrf_form_html() }}
					<a id="signup_submit" class="go_button">Go</a>
				</form>
			</div>
			<div id="android_only">
				Currently limited to Android
			</div>
		</div>
		<div id="upper-right" class="col-right">
			<img src={{ static_url("images/apphorde-home.png") }}/>
		</div>
	</div>
</div>
{% end %}

{% block content %}
<div id="features" class="flfix col-width">
	<ul>
		<li>
			<div class="icon">
				<img src={{ static_url("images/megaphone_48.png") }}/>
			</div>
			<div class="description">
				<div class="desc-title">
					Get Exposure
				</div>
				Advertise your app across the AppHorde network and watch your installs skyrocket.
			</div>
		</li>
		<li>
			<div class="icon">
				<img src={{ static_url("images/check_48.png") }}/>
			</div>
			<div class="description">
				<div class="desc-title">
					Easy Setup
				</div>
				Integrate AppHorde into your app in less than 10 minutes. Start earning ad placements in no time!
			</div>
		</li>
		<li>
			<div class="icon">
				<img src={{ static_url("images/money_48.png") }}/>
			</div>
			<div class="description">
				<div class="desc-title">
					100% Free
				</div>
				Other ad networks charge hundreds or even thousands of dollars. AppHorde is completely free!
			</div>
		</li>
		<li>
			<div class="icon">
				<img src={{ static_url("images/graph_48.png") }}/>
			</div>
			<div class="description">
				<div class="desc-title">
					Real-time Statistics
				</div>
				Access statistics via the AppHorde Dashboard. You'll be able to see for yourself how well your ads are performing.
			</div>
		</li>
	</ul>
</div>
{% end %}