{% extends "base.html" %}

{% block nav %}
<li><a href="/">Home</a></li>
<li><a href="how">How It Works</a></li>
<li><a href="dev">Dev Resources</a></li>
<li><a href="register">Register</a></li>
<li class="current-page"><a href="login">Log In</a></li>
{% end %}

{% block content %}
<div class="col-width">
	<h2 class="subtitle">{% block subtitle %}{% end %}</h2>
	{% if 'notifications' in globals() %}
	<div id="notification">
		<ul>
			{% for notification in notifications %}
			<li>{{ notification }}</li>
			{% end %}
		</ul>
	</div>
	{% end %}
	{% if 'errors' in globals() %}
	<div id="errors">
		<ul>
			{% for error in errors %}
			<li>{{ error }}</li>
			{% end %}
		</ul>
	</div>
	{% end %}
	{% block main %}{% end %}
</div>
{% end %}